.lyon-card-header {
  text-align: center;

}

.icono-verde {
  color: #198754;
}

.icono-rojo {
  color: #dc3545;
}

.spinner-border {
  height: 1.5rem;
  width: 1.5rem;
}

.far {
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
