.subtitulo {
  font-size: 20px;
}
.subtitulo2 {
  font-size: 14px;
  color: rgb(6, 9, 90);
  font-weight: bold;
}
.h1bold{
  color: rgb(6, 9, 90);
}

.ion {
  //font-size: 60px;
/*  height: 50px;
 width: 50px; */
 //color: black;
 font-size: 30px !important;
}

/* .inner{

  color: black;
} */
