<div class="container-fluid">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h1>{{historialEst}}</h1>
        <!--   <h1 *ngIf="historialEst">{{historialEst.datosl}}</h1>
 -->
          {{'dashboard.histestudiante' | translate}}
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <!-- <a class="small-box-footer">{{'dashboard.masinfo' | translate}}<i class="fas fa-arrow-circle-right"></i></a> -->
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h1>{{matriculadosAny}}<sup style="font-size: 20px"></sup></h1>

          <p>{{'dashboard.totmatriculados' | translate}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      <!--   <a href="#" class="small-box-footer">{{'dashboard.masinfo' | translate}}<i class="fas fa-arrow-circle-right"></i></a> -->
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h1>{{historialProfesorAny}}</h1>

          <p>{{'dashboard.totprofesores' | translate}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <!-- <a href="#" class="small-box-footer">{{'dashboard.masinfo' | translate}}<i class="fas fa-arrow-circle-right"></i></a> -->

      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h1>{{matriculasAnuladasAny}}</h1>

          <p>{{'dashboard.matanuladas' | translate}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
<!--         <a href="#" class="small-box-footer">{{'dashboard.masinfo' | translate}}<i class="fas fa-arrow-circle-right"></i></a> -->
      </div>
    </div>
    <!-- ./col -->
  </div>
</div>
