@import './normalize.scss';
@import './variables.scss';
@import './layout/main-content.scss';
@import './layout/header.scss';
@import './layout/left-nav.scss';
@import './layout/footer.scss';
@import './layout.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
