<div class="container">

  <div class="lyon-card2 card">
    <div class="lyon-card-header card-header text-center">
      <h4>NOTAS</h4>

    </div>
    <div class="card-body">

      <table class="table table-striped table-hover table-responsive-lg">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Nivel</th>
            <th>Profesor</th>
            <th>N1</th>
            <th>N2</th>
            <th>N3</th>
            <th>N4</th>
            <th>S1</th>
            <th>Prom</th>
            <th>S2</th>
            <th>Nf</th>
            <th>Apr</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vida Abundante</td>
            <td>2</td>
            <td>Francisco Isama</td>
            <td>4</td>
            <th>3</th>
            <td>8</td>
            <th>9</th>
            <td>13.7</td>
            <th>3.5</th>
            <th>-</th>
            <td>3.5</td>
            <th>N</th>

          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>
