<div class="container">

  <div class="lyon-card2 card">
    <div class="lyon-card-header card-header text-center">
      <h4>NOTAS</h4>

    </div>
    <div class="card-body">

      <p-table [value]="estudianteIdNota" styleClass="p-datatable-striped" responsiveLayout="scroll"
      [paginator]="true" [rows]="4" [totalRecords]="totalRecords" [pageLinks]="6">
      <ng-template pTemplate="header">

        <tr>
          <th>Nivel</th>
            <th>Trimestre</th>
            <th>Materia</th>
            <th>Profesor</th>
            <th>NF</th>
            <th>Apr</th>
            <th>Ciclo</th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-aux>
        <tr>
          <td>{{aux.nivid}}</td>
            <td>{{aux.tri_id}}</td>
            <td>{{aux.asg_nombre}}</td>
            <td>{{aux.pro_apellido+' '+aux.pro_nombre}}</td>
            <td>{{aux.notafinal | number:'1.0'}}</td>
            <td>{{aux.aprobo}}</td>
            <td>{{aux.mes_abreviatura}}-{{aux.ani_anio}}</td>
        </tr>

      </ng-template>

    </p-table>


    </div>
  </div>

</div>
