.lyon-imagen
{
  border-radius: 50%;
}

.bg {
  background-image: url(../../../../assets/carusel/caru6.jpg);
  background-position: center center;
  background-repeat: no-repeat;

}
/* .container {
 border-top: 4px solid rgb(35, 94, 221);
} */

