.far {
  cursor: pointer;
  margin-right: 7px;
   font-weight: bold;
}

.fab {
  cursor: pointer;
  margin-right: 7px;
}

.fas {
  cursor: pointer;
  margin-right: 7px;
}

.porlegalizado-td{

  color: red

}

.legalizado-td{

  color: rgb(23, 178, 92);

}

div.lyon-radio label {
  margin-right: 20px;
}


