<div class="container-fluid">
  <!-- routerLink="/panel/sexo/agregar" -->
  <div class="lyon-card-header card-header text-center">

    <div class="search-box">
      <input name="buscador" #buscarInput (keyup)="buscar(buscarInput.value)" type="text" class="form-control"
        placeholder="Buscar">
    </div>

    <div class="lyon-card2 card text-center mt-2">

      <div class="lyon-card-header card-header">
        <h4>LISTA DE MATRICULADOS</h4>

      </div>
      <div class="card-body">


        <table class="table table-striped table-hover table-responsive-lg">
          <thead>
            <tr>

              <th>#</th>
              <th>Estudiante</th>
              <th>Materia</th>
              <th>Mes</th>
              <th>Año</th>
              <th>Aula</th>

              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aux of buscarmatriculaaHM">

              <td>{{aux.id}}</td>
              <td>{{aux.ape}} {{aux.nombre}}</td>
              <td>{{aux.asg_nombre}}</td>
              <td>{{aux.mes_nombre}}</td>
              <td>{{aux.ani_anio}}</td>
              <td>{{aux.aul_nombre}}</td>
            <!--   <td>{{aux.mtr_estado}}</td> -->

              <td>

                <i class="fab fa-elementor text-danger" routerLink="/admin/matricula/agregar/{{aux.id}}"> Anular</i>
              <!--   <i class="fab fa-print text-success" > Imprimir</i> -->
                <i class="fas fa-print text-success"> Imprimir</i>
              </td>



             <!--  <div *ngIf="aux.mtr_estado">

                <span>{{Name}}</span>

               </div> -->
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
