<div class="container-fluid">
  <!-- routerLink="/panel/sexo/agregar" -->

  <!-- <button (click)="crearPdf()"> crear pdf</button> -->
  <div class="lyon-card-header card text-center">

    <!--  <div class="search-box">
      <input name="buscador" #buscarInput (keyup)="buscar(buscarInput.value)" type="text" class="form-control"
        placeholder="Buscar">
    </div> -->

    <div class="card-body">
      <form class="mt-2" [formGroup]="form">
        <div class="lyon-radio">
          <label class="form-check-label" for="ni1">Nivel:</label>
          <div class="form-check form-check-inline" *ngFor="let aux of NivelesStatico">
            <input class="form-check-input" formControlName="ni1" type="radio" [value]="aux.valId"
              [checked]="aux.checked">
            <label class="form-check-label" for="ni1">{{aux.valId}}</label>
          </div>
          <div class="d-grid gap-2 mt-2">
            <button type="submit" class="btn btn-info text-white" (click)="enviarRadio()">
              <i class="fas fa-search"></i>&nbsp; Buscar</button>
          </div>
        </div>

      </form>
    </div>


  </div>
  <div class="lyon-card2 card text-center mt-2">

    <div class="lyon-card-header card-header">
      <h4>LISTA DE MATRICULADOS</h4>

    </div>
    <div class="card-body">



      <p-table [value]="legalizadoIdany" styleClass="p-datatable-striped" responsiveLayout="scroll" [paginator]="true" [rows]="3"
        [totalRecords]="totalRecords" [pageLinks]="3">


        <ng-template pTemplate="header">

          <tr>
            <th>Cod.Matr</th>
            <th>Cod.Estu</th>
            <th>Foto</th>
            <th>Cédula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-aux>
          <tr>

            <td>{{'Matr-'+aux.id}}</td>
            <td>{{'Estu-'+aux.idest}}</td>



            <td><img [src]="aux.est_imagen ? directorio+aux.est_imagen : 'assets/images/img_vacio/usuario.png'" alt=""
                width="30px;"></td>

            <td>{{aux.est_cedula}}</td>
            <td>{{aux.ape}}</td>
            <td>{{aux.nombre}}</td>
            <td class="legalizado-td" *ngIf="aux.mtr_estado==1">Legalizado</td>
            <!--     -->
            <!--    <td>{{aux.est_cedula}}</td>
            <td>{{aux.est_apellido}}</td>
            <td>{{aux.est_nombre}}</td> -->
            <!--  -->

            <td>

              <!--   <i class="far fa-edit text-info" routerLink="/admin/matricula/legalizar/{{aux.id}}">LEGALIZAR</i> -->
              <i class="far fa-trash-alt text-danger" routerLink="/admin/matr/anular/{{aux.id}}">ANULAR</i>
              <!--  <i class="far fa-trash-alt text-danger" (click)="eliminarEstudiante(aux.id)"></i> -->
            </td>
          </tr>

        </ng-template>

      </p-table>

    </div>
  </div>


</div>
