<div class="container-fluid">
  <button class="btn btn-success mb-3" routerLink="/admin/estudiante/agregar">
    <i class="fa fa-sign-out-alt"></i>Nuevo</button>
  <!-- routerLink="/panel/sexo/agregar" -->
  <div class="lyon-card-header card-header text-center">


    <div class="search-box">
      <input name="buscador" #buscarInput (keyup)="buscar(buscarInput.value)" type="text" class="form-control"
        placeholder="Buscar">
      <!--  <button class="btn btn-info" (click)="buscarEstu()">Buscar</button> -->
    </div>
  </div>

  <div class="lyon-card2 card text-center mt-2">

    <div class="lyon-card-header card-header">
      <h4>LISTA DE ESTUDIANTE</h4>

    </div>
    <div class="card-body">


      <table class="table table-striped table-hover table-responsive-lg">
      <!-- <table class="table table-striped table-hover table-responsive-lg" *ngIf="datos.length > 0; else empty"> -->
        <thead>
          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Cédula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aux of datos">
            <td>{{aux.id}}</td>
            <td><img
                [src]="aux.est_imagen ? directorio+aux.est_imagen : 'assets/images/estudiante/image_placeholder.jpg  '"
                alt="" width="30px;"></td>
            <td>{{aux.est_cedula}}</td>
            <td>{{aux.est_apellido}}</td>
            <td>{{aux.est_nombre}}</td>


            <td>

              <i class="far fa-eye text-warning"></i>
              <!--  <i class="fas fa-eye text-warning"></i> -->
              <!--  <i class="far fa-trash-alt text-danger" (click)="eliminar(aux.id)"></i> -->
              <i class="far fa-edit text-info" routerLink="/admin/estudiante/editar/{{aux.id}}"></i>
             <!--  <i class="fab fa-elementor text-info" routerLink="/admin/matricula/agregar/{{aux.id}}"> Matricular</i>
 -->
            <a href="/admin/matricula/agregar/{{aux.id}}"><i class="fab fa-elementor text-primary">Matricular</i></a>

            </td>
          </tr>
        </tbody>
      <!--   <ngb-pagination [collectionSize]="20" [(page)]="page" aria-label="Default pagination"
          (pageChange)="listarEstudianteH()"></ngb-pagination> -->
      </table>
      <ng-template #empty class="empty">
        <h3>no se encontaron</h3>
      </ng-template>
    </div>


  </div>
</div>
