.far {
  cursor: pointer;
  margin-right: 7px;
  font-size: 20px;
}

.fab {
  cursor: pointer;
  margin-right: 7px;
}

.fa {
  //cursor: pointer;
  margin-right: 7px;
}
.fas {
  //cursor: pointer;
  margin-right: 7px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}

/* .card-body{
  font-weight: bold;
  font-size: 50px;
  background-color: red;
} */


th {
  color: rgb(11, 11, 11) !important;
}
td {
  color: rgb(11, 11, 11) !important;
}


:host ::ng-deep {
  .hide-next .ui-paginator-next {
      visibility: hidden;
  }
}
