<div class="container-fluid">
  <button class="btn btn-success mb-3" (click)="nuevoEstudiante()">
    <i class="fa fa-sign-out-alt"></i>Nuevo
  </button>
  <!-- routerLink="/panel/sexo/agregar" -->

  <div class="lyon-card-header card-header text-center">
    <!--  <p-calendar (ngModel)="cumple"></p-calendar> -->

    <div class="search-box">
      <input name="buscador" #buscarInput (keyup)="buscar(buscarInput.value)" type="text" class="form-control"
        placeholder="Buscar por cédula, apellido o nombre">
      <!--  <button class="btn btn-info" (click)="buscarEstu()">Buscar</button> -->
    </div>
  </div>

  <div class="lyon-card2 card text-center mt-2">

    <div class="lyon-card-header card-header">
      <h4>LISTA DE ESTUDIANTE</h4>
    </div>
    <div class="card-body">

      <p-table [value]="datos" styleClass="p-datatable-striped" responsiveLayout="scroll" [paginator]="true" [rows]="3"
        [totalRecords]="totalRecords" [pageLinks]="3">
        <ng-template pTemplate="header">

          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Cédula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-aux>
          <tr>
            <td>{{aux.id}}</td>
            <td><img
                [src]="aux.est_imagen ? directorio+aux.est_imagen : 'assets/images/estudiante/image_placeholder.jpg  '"
                alt="" width="30px;"></td>
            <td>{{aux.est_cedula}}</td>
            <td>{{aux.est_apellido}}</td>
            <td>{{aux.est_nombre}}</td>
            <!--  -->

            <td>
              <i class="far fa-eye text-warning" routerLink="/admin/estudiante/vista/{{aux.id}}"></i>
              <i class="far fa-edit text-info" routerLink="/admin/estudiante/editar/{{aux.id}}"></i>
              <i class="far fa-trash-alt text-danger" (click)="eliminarEstudiante(aux.id)"></i>
            </td>
          </tr>

        </ng-template>

      </p-table>
      <p-toast [showTransformOptions]="'translateX(100%)'"></p-toast>


    </div>


  </div>

</div>