<h1>Bienvenido Hermano/a</h1>
<p>Ingrese al sistema con su credencial</p>

<form [formGroup]="loginForm" (ngSubmit)="autentificacion()">
  <div class="login-form-input">
    <label for="">Email:*</label>
    <input type="email" placeholder="Email" formControlName="correo">
    <small class="bg-danger text-light mt-1 px-2 py-1 rounded"
    *ngIf="(fm.correo.dirty || fm.correo.touched) && fm.correo.errors && loginSubmitted"
    >
      <ng-container [ngSwitch]="fm.correo.value">
        <ng-container *ngSwitchCase="''">El email es requerido</ng-container>
        <ng-container *ngSwitchDefault>El email es invalido</ng-container>
      </ng-container>
    </small>
  </div>
  <div class="login-form-input">
    <label for="">Contraseña:*</label>
    <input type="password" placeholder="Contraseña" formControlName="contrasena">
        <small class="bg-danger text-light mt-1 px-2 py-1 rounded"
      *ngIf="(fm.contrasena.dirty || fm.contrasena.touched) && fm.contrasena.errors && loginSubmitted">
      <ng-container [ngSwitch]="fm.contrasena.value">
        <ng-container *ngSwitchCase="''">La contraseña es requerido</ng-container>
        <ng-container *ngSwitchDefault>La contrasea debe tener al menos 8 caracteres</ng-container>
      </ng-container>
    </small>
  </div>
  <small class="small">Olvide Contraseña</small>
  <div class="login-form-buttons">
    <button type="submit" class="login-form-buttons__signup">Registrarse</button>
    <button type="submit" class="login-form-buttons__signin">Iniciar sesion</button>
  </div>
</form>

