.far {
  cursor: pointer;
  margin-right: 7px;
   font-weight: bold;
}

.fab {
  cursor: pointer;
  margin-right: 7px;
}

.fas {
  cursor: pointer;
  margin-right: 7px;
}

.nomatriculado-td{

  color: red;
   font-weight: bold;

}

.simatriculado-td{

  color: rgb(23, 178, 92);
   font-weight: bold;

}
.anulado-td{

  color: rgb(236, 119, 56);
   font-weight: bold;

}
.aprobado-td{

  color: rgb(103, 122, 214);
   font-weight: bold;

}

table {
  font-size: 14px;
}

div.lyon-radio label {
  margin-right: 20px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}
