<div class="container-fluid">
  <button class="btn btn-success mb-3" (click)="nuevoEstudiante()">
    <i class="fas fa-plus-circle"></i>Nuevo
  </button>

  <div class="lyon-card-header card-header text-center">
    <!--  <p-calendar (ngModel)="cumple"></p-calendar> -->

    <div class="search-box">
      <input name="buscador" #buscarInput (keyup)="buscar(buscarInput.value)" type="text" class="form-control"
        placeholder="Buscar por cédula, apellido o nombre">
      <!--  <button class="btn btn-info" (click)="buscarEstu()">Buscar</button> -->
    </div>
  </div>

  <div class="lyon-card2 card text-center mt-2">
    <div class="lyon-card-header card-header">
      <h1 class="titulo">Matricular</h1>
    </div>
    <div class="card-body">
      <!--    <p-table [value]="ListadatosEstudianteAny" styleClass="p-datatable-striped" responsiveLayout="scroll"
        [paginator]="true" [rows]="3" [totalRecords]="totalRecords" [pageLinks]="3"> -->

      <p-table [value]="ListadatosEstudianteAny" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">

          <tr>
            <th>Cod.Est</th>
            <th>Foto</th>
            <th>Cédula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Nivel Apro</th>
            <th>Trim Apro</th>
            <th>Matriculado</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aux>
          <!--  <tr *ngIf="aux.est_estado==0 || aux.est_estado==1"> -->
          <tr>
            <td>{{'Estu-'+aux.id}}</td>
            <td><img [src]="aux.est_imagen ? directorio+aux.est_imagen : 'assets/images/img_vacio/usuario.png'" alt=""
                width="30px;"></td>
            <td>{{aux.est_cedula}}</td>
            <td>{{aux.est_apellido}}</td>
            <td>{{aux.est_nombre}}</td>

            <td>{{aux.est_nivel}}</td>
            <td>{{aux.est_trimestre}}</td>
            <td class="nomatriculado-td" *ngIf="aux.est_estado==0">N</td>
            <td class="simatriculado-td" *ngIf="aux.est_estado==1">S</td>
            <td class="anulado-td" *ngIf="aux.est_estado==2">A</td>
            <td class="aprobado-td" *ngIf="aux.est_estado==3">AP</td>

            <td *ngIf="aux.est_estado == 0 || aux.est_estado == 2 || aux.est_estado == 3">
              <i class="far fa-edit text-info" routerLink="/admin/matr/matricular/{{aux.id}}">MATRICULAR</i>
            </td>
          </tr>

        </ng-template>

      </p-table>
    </div>


  </div>

</div>
