<div class="container-fluid">
  <button class="btn btn-success mb-3" (click)="nuevoProfesor()">
    <i class="fas fa-plus-circle"></i>Nuevo
  </button>
  <!-- routerLink="/panel/sexo/agregar" -->

  <div class="lyon-card-header card-header text-center">
    <!--  <p-calendar (ngModel)="cumple"></p-calendar> -->

    <div class="search-box">
      <input name="buscador" #buscarInput (keyup)="buscar(buscarInput.value)" type="text" class="form-control"
        placeholder="Buscar por cédula, apellido o nombre">
      <!--  <button class="btn btn-info" (click)="buscarEstu()">Buscar</button> -->
    </div>
  </div>

  <div class="lyon-card2 card text-center mt-2">

    <div class="lyon-card-header card-header">
      <h1 class="titulo">LISTA DE PROFESORES</h1>
    </div>
    <div class="card-body">

<!--       <p-table [value]="datosProfesor" styleClass="p-datatable-striped" responsiveLayout="scroll" [paginator]="true"
        [rows]="3" [totalRecords]="totalRecords" [pageLinks]="3"> -->
        <p-table [value]="datosProfesor" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">

          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Cédula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-aux>
          <tr>
            <td>{{aux.id}}</td>
            <td><img
                [src]="aux.pro_imagen ? directorio+aux.pro_imagen : 'assets/images/img_vacio/usuario.png'"
                alt="" width="30px;"></td>
            <td>{{aux.pro_cedula}}</td>
            <td>{{aux.pro_apellido}}</td>
            <td>{{aux.pro_nombre}}</td>
            <!--  -->

            <td>
              <i class="far fa-eye text-warning" routerLink="/admin/prof/vista/{{aux.id}}"></i>
              <i class="far fa-edit text-info" routerLink="/admin/prof/editar/{{aux.id}}"></i>
              <i class="far fa-trash-alt text-danger" (click)="eliminarEstudiante(aux.id)"></i>
            </td>
          </tr>

        </ng-template>

      </p-table>
      <p-toast [showTransformOptions]="'translateX(100%)'"></p-toast>


    </div>


  </div>

</div>
