<!--
 <form [formGroup]="form" class="form mt-3" (ngSubmit)="submit()">
  <div>
    <div class="from-group">
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="from-group">
      <input type="text" formControlName="apellido" class="form-control">
    </div>
    <div class="from-group">
      <input type="text" formControlName="edad" class="form-control">
    </div>
  </div>

  <button class="btn btn-lg btn-primary">Agregar</button>
</form>




<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pr of listar">
      <td scope="row">{{pr.id}}</td>
      <td>{{pr.nombre}}</td>
      <td>{{pr.apellido}}</td>
      <td>{{pr.edad}}</td>
      <td><i class="fa fa-trash" style="color: red;" (click)="eliminar2(pr.id)"></i></td>
      <td><i class="fa fa-edit" style="color: red;"routerLink="'/prueba', 'edit', pr.id"></i></td>
      <td></td>
    </tr>
  </tbody>
</table>
 -->
<!-- <button class="btn btn-info" (click)="eliminar2"></button>
 -->
<!-- <h1>App component</h1> -->

 <router-outlet></router-outlet>
