<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">


      <div class="lyon-card card">
        <!-- <div class="lyon-card2 card text-center"> -->
        <div class="card-body mb-3">
          <h1 class="titulo text-center"> {{accion | uppercase}} NOTA</h1>
          <hr>

          <form class="mt-4" [formGroup]="form" (ngSubmit)="guardarNota()">

            <input type="hidden" formControlName="estidv" class="form-control">
            <input type="hidden" formControlName="idv" class="form-control">
            <input type="hidden" formControlName="nividv" class="form-control">
            <input type="hidden" formControlName="triidv" class="form-control">

            <div class="mb-2 row">
              <label for="staticEmail" class="col-sm-4 col-form-label">N1</label>
              <div class="col-sm-8">
                <input type="text" formControlName="n1" class="form-control" placeholder="n1">
              </div>
            </div>
         <!--    <div class="mb-2 row">
              <label for="inputPassword" class="col-sm-4 col-form-label">N2</label>
              <div class="col-sm-8">
                <input type="text" formControlName="n2" class="form-control">
              </div>
            </div>
            <div class="mb-2 row">
              <label for="inputPassword" class="col-sm-4 col-form-label">N3</label>
              <div class="col-sm-8">
                <input type="text" formControlName="n3" class="form-control">
              </div>
            </div>
            <div class="mb-2 row">
              <label for="inputPassword" class="col-sm-4 col-form-label">N4</label>
              <div class="col-sm-8">
                <input type="text" formControlName="n4" class="form-control">
              </div>
            </div> -->

            <div class="d-grid gap-2">
              <!--   <button type="submit" [disabled]="form.invalid" class="btn btn-success"> -->
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-database"></i>&nbsp; Guardar</button>
            </div>

          </form>
        </div>
      </div>
    </div>


    <div class="col-md-9">
      <div class="lyon-card card">
        <!-- <div class="lyon-card-header card-header">
          <h4>LISTA DE NOTAS</h4>

        </div> -->
        <div class="card-body">

          <form class="mt-2" [formGroup]="form && form2">

            <div class="lyon-radio">
              <label class="form-check-label" for="ni1">Nivel:</label>
              <div class="form-check form-check-inline" *ngFor="let aux of NivelesStatico">
                <input class="form-check-input" formControlName="ni1" type="radio" [value]="aux.valId" placeholder="ni1"
                  [checked]="aux.checked">
                <label class="form-check-label" for="ni1">{{aux.valId}}</label>
              </div>
              <hr>

              <div class="lyon-radio"></div>
              <label class="form-check-label" for="ni1">Trimestre:</label>
              <div class="form-check form-check-inline" *ngFor="let aux of TrimesreStatico">
                <input class="form-check-input" formControlName="tri" type="radio" [value]="aux.valId" placeholder="tri"
                  [checked]="aux.checked">
                <label class="form-check-label" for="tri">{{aux.valId}}</label>
              </div>
              <div class="d-grid gap-2 mt-2">
                <button type="submit" class="btn btn-info text-dark" (click)="enviarRadio()">
                  <i class="fas fa-search"></i>&nbsp; Buscar</button>
              </div>
            </div>

          </form>


        </div>
      </div>

      <div class="lyon-card card text-center mt-2">
        <div class="lyon-card-header card-header">
          <h2 class="titulo2">LISTA DE NOTAS</h2>

        </div>
        <div class="card-body">



        <!--   <p-table [value]="__listarNota2" styleClass="p-datatable-striped"  [style]="{'font-size': '14px'}" responsiveLayout="scroll" [paginator]="true"
            [rows]="3" [totalRecords]="totalRecords" [pageLinks]="3">

             -->

             <p-table [value]="__listarNota2" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" responsiveLayout="scroll"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

            <ng-template pTemplate="header">

              <tr>
                <th>#</th>
                <th>Cod</th>
                <th>Nombre</th>
                <!-- <th>Niv</th>
                <th>Tri</th> -->
                <th>N1</th>
                <th>N2</th>
                <th>N3</th>
                <th>N4</th>
                <th>S1</th>
                <th>Pro</th>
                <th>Apro</th>
              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-aux>
              <tr>

                <td>
                  <!--  <i class="far fa-trash-alt text-danger" (click)="eliminarComunidad(pr.id)"></i> -->
                  <i class="far fa-edit text-info" (click)="enviarNotaAInput(aux)">Nota</i>
                  <!--  -->
                </td>
                <!--  <td>{{item+1}}</td>
             -->
                <!--

              <td>{{aux.asg_nombre}}</td> -->
                <!--  <td>{{aux.id}}</td> -->
                <td>{{'Estu-'+aux.estid}}</td>
                <td>{{aux.ape+' '+aux.nombre}}</td>
                <!--  <td>{{aux.nivid}}</td>
              <td>{{aux.triid}}</td> -->
                <td>{{aux.nota1 | number:'1.0'}}</td>
                <td>{{aux.nota2 | number:'1.0'}}</td>
                <td>{{aux.nota3 | number:'1.0'}}</td>
                <td>{{aux.nota4 | number:'1.0'}}</td>
                <td>{{aux.s1 | number:'1.0'}}</td>
                <td>{{aux.promedio | number:'1.0'}}</td>


                <td *ngIf="aux.promedio>=7">S</td>
                <td *ngIf="aux.promedio<7">N</td>


                <!--  <td>{{aux.nota2}}</td> -->

                <!--   <td>{{aux.ani_anio}}</td>
              <td>{{aux.aprobo}}</td> -->

                <!--             <td *ngIf="aux.mtr_estado==1">MASCULINO</td>
          <td *ngIf="aux.mtr_estado==0">FEMENINO</td> -->

                <!-- <td>

            <i class="fab fa-elementor text-success" routerLink="/admin/matricula/agregar/{{aux.id}}"> Nota</i>

          </td> -->
              </tr>

            </ng-template>

          </p-table>

        </div>
      </div>
    </div>

  </div>

</div>
