 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      <h1 class="titulobread">{{titulo}}</h1>
   <!--    <h1>{{'sidebar.estudiante' | translate}}</h1> -->
       <!--  <p class="ml-2" *ngIf="subMenu.titulo == 'Estudiante'">{{'sidebar.estudiante' | translate}}</p> -->
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a>{{'sidebar.dashboard' | translate}}</a></li>
          <li *ngIf="titulo !== 'Dashboard'" class="breadcrumb-item active">{{titulo}}</li>
          <li *ngIf="titulo === 'Dashboard'" class="breadcrumb-item active"></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
