<div class="container pt-4">
  <div class="row">

    <div class="col-6 offset-3">

      <div class="card text-center">
        <div class="card-body mb-3">
          <h3>Matricula</h3>


          <!--    <form class="mt-4" [formGroup]="form"> -->

          <form [formGroup]="form" (ngSubmit)="crear()">

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              
              <select formControlName="mtr_id" class="form-control">
                <option value="">--Seleccione Num Matricula--</option>
                <option [value]="datosMatriId">
                  {{'Matricula'+ ' '+ '000'+datosMatriId}}
                </option>
              </select>
            </div>



            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <input type="text" formControlName="est_id" class="form-control">
            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <input type="text" formControlName="est_cedula" class="form-control" value="{{datos.est_cedula}}"
                readonly>
            </div>



            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <input type="text" formControlName="est_apellido" class="form-control" [value]="datos.est_apellido"
                readonly>

              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <input type="text" formControlName="est_nombre" class="form-control" [value]="datos.est_nombre" readonly>

            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <select formControlName="niv_id" class="form-control" (change)="cargarNivel($event)">
                <option value="">--Seleccione Nivel--</option>
                <option [value]="nivel.id" *ngFor="let nivel of listaNivel">
                  {{nivel.niv_descripcion}}
                </option>
              </select>
            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <select formControlName="tri_id" class="form-control">
                <option value="">--Seleccione Trimestre--</option>
                <option [value]="tri.id" *ngFor="let tri of listaTrimestre">
                  {{tri.tri_descripcion}}
                </option>
              </select>
            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <select name="" id="" formControlName="asg_id" class="form-control">
                <option value="">--Asignatura--</option>
                <option [value]="asignatura.id" *ngFor="let asignatura of materia">
                  {{asignatura.tri_id}} - {{asignatura.asg_nombre}}
                </option>
              </select>
            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <select formControlName="mes_id" class="form-control">
                <option value="">--Seleccione Mes--</option>
                <option [value]="mes.id" *ngFor="let mes of listaMes">
                  {{mes.mes_nombre}}
                </option>
              </select>
            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <select formControlName="ani_id" class="form-control">
                <option value="">--Seleccione Año--</option>
                <option [value]="anioacade.id" *ngFor="let anioacade of listaAnioacademico">
                  {{anioacade.ani_anio}}
                </option>
              </select>
            </div>

            <div class="input-group input-group mb-3">
              <span class="input-group-text">
                <i class="fab fa-digital-ocean">
                </i>
              </span>
              <select formControlName="aul_id" class="form-control">
                <option value="">--Seleccione Aula--</option>
                <option [value]="aula.id" *ngFor="let aula of listAula">
                  {{aula.aul_nombre}}
                </option>
              </select>
            </div>


            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success">
                <i class="fas fa-database"></i>&nbsp; Matricular</button>
              <button type="button" class="btn btn-danger" routerLink="/admin/estudiante/listar">
                <i class="fa fa-sign-out-alt"></i>&nbsp; Cancelar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>

</div>

