<!-- <div class="container-fluid">
  <button class="btn btn-primary mb-3" routerLink="/admin/sexo/agregar">Agregar</button>
<div class="lyon-card2 card text-center">

  <div class="lyon-card-header card-header">
    <h4>LISTA DE SEXO</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aux of enviaraHtml">
          <td>{{aux.id}}</td>
          <td>{{aux.sex_descripcion}}</td>
          <td><i class="far fa-trash-alt text-danger" (click)="eliminar(aux.id)"></i>
            <i class="far fa-edit text-info" routerLink="/panel/sexo/editar/{{aux.id}}"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</div>
 -->
