<div class="container-fluid px-0">
  <div class="row bg-dark h-100">
    <div class="col-12 px-0">
      <app-carousel [items]="carouselData"></app-carousel>
      <div class="lyon-redirigir">
        <button class="btn btn-primary" (click)="loginAdmin()">Ir a Iniciar Sesión</button>
      </div>
      <div class="lyon-redirigir">
        <p style="font-size: 12px;"> Toda la Escritura es inspirada por Dios, y útil para enseñar, para redargüir, para
          corregir,
          para instruir en justicia, a fin de que el hombre de Dios sea perfecto,
          enteramente preparado para toda buena obra. 2 Timoteo 3:16-17. </p>
      </div>
    </div>
  </div>
</div>
<!-- <ng-container *ngIf="isLoading">
  <div class="lyon-loader">
    <img [src]="loader" alt="">
  </div>
</ng-container> -->
