<div class="container-fluid">
  <div class="card list-group">


    <div class="card-body">
      <h5 class="titulo text-center">ESTUDIANTE</h5>
      <hr>

      <div class="row align-items-center" *ngIf="listaEstudiante">
        <div class="col-sm-4 text-center">

          <!--  <img class="lyon-imagen" width="80%" [src]="'assets/images/estudiante/image_placeholder.jpg'" alt=""> -->
          <img width="80%"
            [src]="listaEstudiante.est_imagen ? directorio+listaEstudiante.est_imagen : 'assets/images/img_vacio/usuario.png'"
            alt="">

        </div>

        <div class="col-sm-8">
          <ul class="list-group">


            <li class="list-group-item">CEDULA: <span class="fw-bold">{{ listaEstudiante.est_cedula}}</span></li>
            <li class="list-group-item">NOMBRE: <span class="fw-bold">{{ listaEstudiante.est_nombre}}</span></li>
            <li class="list-group-item">DIRECCIÓN: <span class="fw-bold">{{ listaEstudiante.est_apellido}}</span></li>
            <li class="list-group-item">TELÉFONO: <span class="fw-bold"> {{listaEstudiante.est_celular}}</span></li>
            <li class="list-group-item">CORREO: <span class="fw-bold"> {{listaEstudiante.est_direccion}}</span></li>
            <li class="list-group-item">FECHA DE NACIMIENTO: <span class="fw-bold"> {{listaEstudiante.est_fechabautismo}}</span></li>
            <li class="list-group-item">FECHA DE BAUTISMO: <span class="fw-bold"> {{listaEstudiante.est_fechanacimiento}}</span></li>

          </ul>

        </div>
      </div>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a class="btn btn-danger" routerLink="/admin/estudiante/listar">
        <i class="fa fa-arrow-alt-circle-left">&nbsp; Regresar</i>
      </a>

    </div>
  </div>
</div>
