<div class="container">
  <div class="lyon-card2 card ">

    <div class="lyon-card-header card-header text-center">
      <h4>PERFIL ESTUDIANTE</h4>

    </div>
    <div class="card-body">


      <div class="row"  *ngIf="estudianteId">
        <div class="col-sm-5 text-center">

            <img width="80%" [src]="estudianteId.data.est_imagen ? directorio+estudianteId.data.est_imagen : 'assets/images/img_vacio/usuario.png'" alt="">

        </div>

        <div class="col-sm-7">
          <ul class="list-group">
            <li class="list-group-item">CÉDULA: <span class="fw-bold">{{ estudianteId.data.est_cedula}}</span></li>
            <li class="list-group-item">APELLIDOS: <span class="fw-bold">{{ estudianteId.data.est_apellido}}</span></li>
            <li class="list-group-item">NOMBRES: <span class="fw-bold"> {{estudianteId.data.est_nombre}}</span></li>
            <li class="list-group-item">FECHA DE NACIMIENTO: <span class="fw-bold"> {{estudianteId.data.est_fechanacimiento}}</span></li>
            <li class="list-group-item">DIRECCION: <span class="fw-bold">{{estudianteId.data.est_direccion}}</span></li>
            <li class="list-group-item">EMAIL: <span class="fw-bold">{{ userData.email}}</span></li>
            <li class="list-group-item">TELÉFONO: <span class="fw-bold"> {{estudianteId.data.est_celular}}</span></li>
          <!--   <li class="list-group-item">IGLESIA: <span class="fw-bold">{{ userData.email}}</span></li>
            <li class="list-group-item">DENOMINACION: <span class="fw-bold"> {{estudianteId.data.est_celular}}</span></li>
 -->
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
